<div class="job-list-component">
  <div *ngIf="jobs$ | async as jobs" class="job-list">

    <div class="job-list-item" *ngFor="let job of jobs.data">
      <div class="job-list-item__title">
        <p>
          {{ job.title }}
        </p>

        <button mat-raised-button color="warn" (click)="deleteJob(job.slug)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <div class="job-list-item__description">
        <div class="job-list-item__description-item">
          <label>location</label>
          <p>{{ job.location }}</p>
        </div>

        <div class="job-list-item__description-item">
          <label>date</label>
          <!-- antigua llamada al api -->
          <!-- <p>{{ job.postDate }}</p> -->
          <p>{{ job.created_at | date:'dd/MM/yyyy' }}</p>
        </div>

        <div class="job-list-item__description-item">
          <label>company_name</label>
          <p>{{ job.company_name }}</p>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="!(jobs$ | async)">
    <mat-spinner></mat-spinner>
  </div>
</div>
