@import url(../../assets/global.scss);

.job-list-component {
  min-height: 420px;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.job-list-item {
  box-sizing: border-box;
  padding: 12px;
  background-color: #f5f5f5;

  &__title {
    font-weight: bold;
    font-size: 18px;
  }
}

.job-list-item__description-item {
  font-weight: 500;
  font-size: small;
}
